# IDEs directories
.idea
.dev
.vscode

# OS
.DS_Store

# Release commit messages
.gitlog

# Local backup files (for dev proposes)
*.back

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Binary files in root folder
/cataloger
/.cataloger*

# Local .env file
.env*

# Docker
docker-compose.yml
